<ion-view view-title="{{organization.name}}" hide-tabs>
	<ion-content>
		<div class="list card">
			<div class="item item-image">
				<img ng-src="{{organization.image}}">
			</div>
			<div class="item item-text-wrap">
				<h2>{{organization.name}}</h2>
				<p>创建时间：{{organization.created_at}}</p>
				<p>成员：{{organization.users_count}}</p>
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider">
				<h2>简介</h2>
			</div>
			<div class="item item-text-wrap">
				<p>{{organization.intro}}</p>
			</div>
		</div>
		
		<!-- 校友组织活动 -->
		<div class="card list">
			<div class="item item-divider"><h2>最新活动</h2></div>
			<ion-item class="item-remove-animate item item-thumbnail-left item-icon-right item-text-wrap" ng-repeat="event in organization.events" 
				href="#/tab/events/{{event.id}}">
				<img ng-src="{{event.image}}">
    			<h2>{{event.name}}<span class="badge badge-assertive">{{event.state}}</span></h2>
    			<p>活动时间：{{event.time}}</p>
    			<p>活动简介</p>
    			<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<a class="item item-divider" href="#/tab/events"><h2>查看全部活动</h2></a>
		</div>
		<!-- 组织成员 -->
		<div class="card list">
			<div class="item item-divider">最近加入成员</div>
			<ion-item class="item-remove-animate item-avatar item-icon-right item-button-right" ng-repeat="obj in organization.users" href="">
        		<img ng-src="{{obj.avatar}}">
        		<h2>{{obj.nickname}}</h2>
        		<p>{{obj.specialty}}&nbsp;&nbsp;{{obj.graduation}}</p>
        		<button class="button button-positive button-outline" style="font-size: 14px;">私信</button>
      		</ion-item>
			<a class="item item-divider" href="#/tab/users?type=club"><h2>查看全部成员</h2></a>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-assertive">
    	<div class="title" style="text-align: center; margin: 0 -10px; cursor: pointer;" ng-click="doJoinOrganization(organization.id);">
      		加入校友会
    	</div>
	</ion-footer-bar>
</ion-view>