<ion-view view-title="我的">
  <ion-content>
    <div class="list">
    	<ion-item class="item item-icon-right item-avatar" href="">
    		<img ng-src="{{user.avatar}}" alt="{{user.nickname}}">
    		<div class="row">
    			<div class="col col-center">
    				立即登录
    			</div>
    		</div>
    		<i class="icon ion-chevron-right icon-accessory"></i>
    	</ion-item>
    	<div class="item item-divider"></div>
    	<ion-item class="item-remove-animate item-icon-right" href="">
    		我的校友组织
    		<i class="icon ion-chevron-right icon-accessory"></i>
    	</ion-item>
    	<ion-item class="item-remove-animate item-icon-right" href="">
    		我的俱乐部
    		<i class="icon ion-chevron-right icon-accessory"></i>
    	</ion-item>
    	<ion-item class="item-remove-animate item-icon-right" href="">
    		我的活动
    		<i class="icon ion-chevron-right icon-accessory"></i>
    	</ion-item>
    	<div class="item item-divider"></div>
    	<ion-item class="item-remove-animate item-icon-right" href="">
    		我的订单
    		<i class="icon ion-chevron-right icon-accessory"></i>
    	</ion-item>
    	<div class="item item-divider"></div>
    	<ion-item class="item-remove-animate item-icon-right" href="">
    		意见反馈
    		<i class="icon ion-chevron-right icon-accessory"></i>
    	</ion-item>
    	<ion-item class="item-remove-animate item-icon-right" href="">
    		关于我们
    		<i class="icon ion-chevron-right icon-accessory"></i>
    	</ion-item>
    	<div class="item item-divider"></div>
    	<div style="text-align: center;">
    	<a href="" ng-click="doLogout();" class="item item-content assertive">退出登录</a>
    		
    	</div>
    </div>
  </ion-content>
</ion-view>
