<ion-view view-title="浙理校友">
  <ion-content>
    <ion-slide-box auto-play="true" does-continue="true" show-pager="true" id="detail-slide-box" delegate-handle="slideimgs">
      <ion-slide ng-repeat="banner in banners">
          <a><img ng-src="{{banner.face}}" alt="" class="banner-image"></a>
      </ion-slide>           
    </ion-slide-box>

    <div class="row row-wrap">
    	<div class="col col-50" ng-repeat="sec in sections">
    		<a class="item item-image" href="{{sec.url}}">
    			<img ng-src="{{sec.img}}" style="border: 0;">
    		</a>
    	</div>
    </div>
  </ion-content>
</ion-view>
