<ion-view view-title="个人资料">
	<ion-content>
		<div class="list">
			<!-- <div class="item item-divider"></div> -->
			<ion-item class="item-remove-animate item-block-right item-arrow item-avatar">
				<img ng-src="{{user.avatar}}">
				<span class="item-block">
					更换头像
					<i class="icon ion-chevron-right icon-accessory"></i>
				</span>
			</ion-item>
			<ion-item class="item-remove-animate item-block-right item-arrow">
				昵称
				<div class="item-block">
					未设置
					<i class="icon ion-chevron-right icon-accessory"></i>
				</div>
			</ion-item>
			<ion-item class="item-remove-animate item-block-right item-arrow">
				更换手机
				<div class="item-block">
					180****3687
					<i class="icon ion-chevron-right icon-accessory"></i>
				</div>
			</ion-item>
			<ion-item class="item-remove-animate item-icon-right">
				修改密码
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<div class="item item-divider"></div>
			<div class="item item-text-right">
				真实姓名
				<span>张三</span>
			</div>
			<div class="item item-text-right">
				学号
				<span>2005090134</span>
			</div>
			<div class="item item-text-right">
				学院
				<span>核工业与自动化工程学院</span>
			</div>
			<div class="item item-text-right">
				专业
				<span>工业工程</span>
			</div>
			<div class="item item-text-right">
				年级
				<span>2005级</span>
			</div>
		</div>
	</ion-content>
</ion-view>