/* Empty. Add your own CSS if you like */

.banner-image {
	max-width: 100%;
	width: 100%;
}

.product-price {
	font-size: 22px;
	color: red;
}

.product-market-price {
	font-size: 14px;
	color: #ccc;
	text-decoration: line-through;
}
